
.container h1 {
    color: #4aaaa5;
}
img {
    width: 200px;
    overflow: hidden;
}
.container::after {
    content: "";
    clear: both;
    display: table;
}
.gallery {
    padding: 0 150px;
}
.gallery-1 {
    display: flex;
    align-items: center;
}
.gallery-2 {
    display: flex;
    align-items: center;
}
.gallery-3 {
    display: flex;
    align-items: center;
}
.card {
    box-shadow: 0 6px 4px 0 #dddddd;
    width: 200px;
    margin: 20px;
    position: relative;
}
.text {
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff;
    padding: 15px 0 15px 0;
    position: absolute;
    bottom: 20px;
    width: 100%;
}